.DS_Store
.idea
projects/08-restaurant-app-v1/.idea
projects/08-restaurant-app-v1/.idea/*
projects/08-restaurant-app-v1/.idea/workspace.xml

projects/09-react-myreads/.idea


projects/10-mytapastour-v1/.idea
projects/10-mytapastour-v1/.idea/*
projects/10-mytapastour-v1/.idea/workspace.xml
